@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply lg:text-xl mb-2 uppercase font-bold;
  }
  h5 {
    @apply mb-2;
  }
  h6 {
    @apply font-bold;
  }
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to left,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
